.hidden {
	display:none;
}

input[type=file]{
  position:absolute; 
  top:-100px;
  width: 100px !important;
}
button:focus {outline:0;}

#createKeys {
	position: absolute;
	top: -webkit-calc(50% - 20px);
	left: -webkit-calc(50% - 50px);
}

.loader {
  border: 16px solid grey;
  border-radius: 50%;
  border-top: 16px solid white;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: -webkit-calc(50% - 76px);
  left: -webkit-calc(50% - 76px);
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.password-label {
  color: #333;
}

button:focus {
  outline: none;
}