.header {
  @extend %stretch-width;
  position: absolute;
  z-index: 1;
  top: 0;
  padding: 18px 10px;
  background-image: url(../images/bg_header.png);
  background-repeat: no-repeat;
  background-size: cover;

  &-logo {
    @include image-2x('../images/logo_ceremony_dapp@2x.png', 182px, 35px);
    float: left;
    width: 182px;
  	height: 35px;
    background-image: url(../images/logo_ceremony_dapp.png);
    background-position: 0 0;
  }
}
