@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

html,
body {
  color: #333;
  line-height: 1;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased; }

.footer, .footer-rights, .header {
  left: 0;
  right: 0; }

.create-keys h1, .keys-title {
  color: #333;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold; }

.create-keys h2, .keys-description {
  color: #8197a2;
  line-height: 24px;
  font-size: 14px;
  font-weight: normal; }

.create-keys-button, .keys-download {
  transition: 0.3s background-color;
  border-radius: 3px;
  padding: 0 15px 0 32px;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: left 15px center;
  color: #fff;
  line-height: 36px;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold; }

.create-keys {
  margin-bottom: 30px;
  border-radius: 8px;
  border: 1px solid #eee;
  background-color: #fff;
  color: #333; }

html,
body {
  margin: 0;
  padding: 0; }

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

html {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center; }

body {
  position: relative;
  display: table;
  width: 100%;
  min-width: 960px;
  height: 100%;
  box-sizing: border-box;
  padding: 80px 0 60px; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.content {
  vertical-align: middle;
  padding: 30px 10px 0px 10px;
  background-color: #fdfdfd;
  margin-left: 140px;
  margin-right: 140px; }

.copy {
  background-image: url("../images/copy.png");
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-left: 5px; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .copy {
      background-image: url("../images/copy@2x.png");
      background-size: 14px 14px; } }

.hidden {
  display: none; }

input[type=file] {
  position: absolute;
  top: -100px;
  width: 100px !important; }

button:focus {
  outline: 0; }

#createKeys {
  position: absolute;
  top: -webkit-calc(50% - 20px);
  left: -webkit-calc(50% - 50px); }

.loader {
  border: 16px solid grey;
  border-radius: 50%;
  border-top: 16px solid white;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: -webkit-calc(50% - 76px);
  left: -webkit-calc(50% - 76px); }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.password-label {
  color: #333; }

button:focus {
  outline: none; }

.create-keys-button-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.create-keys {
  padding: 30px 20px; }
  .create-keys h1 {
    margin-bottom: 20px; }
  .create-keys h2 {
    margin-bottom: 20px; }
  .create-keys-button {
    margin-top: 20px;
    display: inline-block;
    background-color: #08b3f2;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAFVBMVEX///////////////////////////9nSIHRAAAABnRSTlMASUrk5udXTd49AAAAOUlEQVR42tXQsQEAIAgDQcAn+4+snRZxAK79KokrIcNBwgYdc0Migwxk8Qsd1TJWDf/KQWobqt+9G4coA99W7as5AAAAAElFTkSuQmCC); }
    .create-keys-button:hover {
      background-color: #079dd4; }
  .create-keys-inputs {
    overflow: hidden;
    display: table;
    width: 100%; }
  .create-keys .left {
    padding-right: 10px; }
  .create-keys .right {
    padding-left: 10px; }
  .create-keys .left,
  .create-keys .right {
    display: table-cell;
    width: 48%; }
  .create-keys label:not(.radio) {
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold; }
  .create-keys button,
  .create-keys input,
  .create-keys textarea {
    outline: none;
    font-family: 'Open Sans', sans-serif; }
  .create-keys input,
  .create-keys textarea {
    transition: 0.3s border-color;
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #eee; }
    .create-keys input:focus,
    .create-keys textarea:focus {
      border-color: #08b3f2; }
  .create-keys textarea {
    padding: 15px;
    height: 110px;
    resize: none; }
  .create-keys input {
    padding: 0 15px;
    height: 36px; }
  .create-keys input[type="radio"] {
    display: none; }
    .create-keys input[type="radio"]:checked + .radio:after {
      opacity: 1; }

.footer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 15px 10px;
  color: #fff;
  line-height: 30px;
  font-size: 12px;
  background-image: url(../images/bg_footer.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .footer .container {
    position: relative;
    overflow: hidden; }
  .footer-logo {
    position: relative;
    z-index: 2;
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 24px;
    background-image: url(../images/CEREMONY_footer.png);
    background-position: 0 0; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .footer-logo {
        background-image: url("../images/CEREMONY_footer@2x.png");
        background-size: 100px 24px; } }
  .footer-rights {
    position: absolute;
    z-index: 1;
    top: 0;
    text-align: center; }

.header {
  position: absolute;
  z-index: 1;
  top: 0;
  padding: 18px 10px;
  background-image: url(../images/bg_header.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .header-logo {
    float: left;
    width: 149px;
    height: 35px;
    background-image: url(../images/CEREMONY.png);
    background-position: 0 0; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .header-logo {
        background-image: url("../images/CEREMONY@2x.png");
        background-size: 149px 35px; } }

.keys {
  display: table;
  width: 100%;
  margin-bottom: 60px;
  text-align: left; }
  .keys-i {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 33.33%;
    box-sizing: border-box;
    padding: 0 15px 60px 15px; }
    .keys-i:first-child {
      padding-left: 0; }
    .keys-i:last-child {
      padding-right: 0; }
    .keys-i:not(:first-child) {
      border-left: 1px solid #e1e1e1; }
  .keys-title {
    margin-bottom: 10px; }
  .keys-hash {
    height: 30px;
    color: #6d2eae;
    line-height: 16px;
    font-size: 12px;
    display: table-cell; }
  .keys-hash-container {
    display: table; }
  .keys-description {
    line-height: 18px;
    font-size: 12px; }
  .keys-footer {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0; }
    .keys-i:first-child .keys-footer {
      left: 0; }
  .keys-download, .keys-read-more {
    display: inline-block;
    vertical-align: middle; }
  .keys-download {
    background-color: #6d2eae;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAANlBMVEX///////////////////////////////////////////////////////////////////////8BOg0gAAAAEXRSTlMASUtWV1hZXF1e5ebn6Orr/GN0dVoAAABnSURBVHja1cnJDYBADENRDzBsYYn7bxaCFFmMaADf/B+0YlbwNSPtE3jvv9Ad29DCsB0dVtKnN8xOGowhCdm5o/eUgOw+AktKQPYFkDygLglQhyRAXZLzWV2iLlFvRb2V7O3qeVa9C41xDOyv+UmuAAAAAElFTkSuQmCC); }
    .keys-download:hover {
      background-color: #5d2795; }
  .keys-read-more {
    margin-left: 10px;
    color: #6d2eae;
    text-decoration: none; }
    .keys-read-more:hover {
      text-decoration: underline; }
  .keys-note {
    overflow: hidden;
    position: relative;
    border: 1px solid #6d2eae;
    border-radius: 5px;
    padding: 20px 15px 20px 53px;
    background-color: rgba(109, 46, 174, 0.1);
    color: #6d2eae;
    text-align: left; }
    .keys-note:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 42px;
      background-color: #6d2eae;
      background-image: url(../images/warning.svg);
      background-repeat: no-repeat;
      background-position: center center; }
    .keys-note-title {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold; }
    .keys-note-description {
      font-size: 12px; }

@keyframes fadeOut {
  0% {
    opacity: .2; }
  20% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: .2;
    transform: scale(0.3); } }

.loading {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 146px;
  margin: -30px 0 0 -81.5px;
  padding-top: 50px; }
  .loading:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 146px;
    height: 35px;
    background-image: url("../images/loading.png");
    background-position: 0 0; }
  .loading-container {
    position: fixed;
    z-index: 1000000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(35, 29, 115, 0.8); }
  .loading-i {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: fadeOut;
    animation-timing-function: linear;
    opacity: .2;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff; }
    .loading-i:nth-child(2) {
      animation-delay: .1s; }
    .loading-i:nth-child(3) {
      animation-delay: .2s; }
    .loading-i:nth-child(4) {
      animation-delay: .3s; }
    .loading-i:nth-child(5) {
      animation-delay: .4s; }
    .loading-i:nth-child(6) {
      animation-delay: .5s; }

.waiting-container {
  text-align: center;
  text-transform: uppercase;
  height: 100px;
  line-height: 100px; }

.socials {
  position: relative;
  z-index: 2;
  float: right;
  font-size: 0; }
  .socials-i {
    transition: 0.3s background-color;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2); }
    @media screen and (min-width: 768px) {
      .socials-i:hover {
        background-color: rgba(255, 255, 255, 0.4); } }
    .socials-i:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      background-image: url(../images/socials.png); }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        .socials-i:before {
          background-image: url("../images/socials@2x.png");
          background-size: 15px 40px; } }
    .socials-i_reddit:before {
      width: 15px;
      height: 13px;
      margin: -6.5px 0 0 -7.5px;
      background-position: 0 -15px; }
    .socials-i_twitter:before {
      width: 15px;
      height: 12px;
      margin: -6px 0 0 -7.5px;
      background-position: 0 -28px; }
    .socials-i_bitcoin:before {
      width: 11px;
      height: 15px;
      margin: -7.5px 0 0 -5.5px;
      background-position: 0 0; }
