html,
body {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

body {
  position: relative;
  display: table;
  width: 100%;
  min-width: 960px;
  height: 100%;
  box-sizing: border-box;
  padding: 80px 0 60px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.content {
  vertical-align: middle;
  padding: 30px 10px 0px 10px;
  background-color: #fdfdfd;
  margin-left: 140px;
  margin-right: 140px;
}

.copy {
  @include image-2x('../images/copy@2x.png', 14px, 14px);
  background-image: url('../images/copy.png');
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-left: 5px;
}