@mixin content-layout-width() {
    max-width: $container-max-width;
    padding-left: $container-horizontal-padding-mobile;
    padding-right: $container-horizontal-padding-mobile;
    width: 100%;

    @media (min-width: $breakpoint-md) {
        padding-left: $container-horizontal-padding-tablet;
        padding-right: $container-horizontal-padding-tablet;
    }

    @media (min-width: $breakpoint-xl) {
        padding-left: $container-horizontal-padding-desktop;
        padding-right: $container-horizontal-padding-desktop;
    }
}