$sw-ButtonGenerate-height: 44px !default;

.sw-ButtonGenerate {

    @include button-base($poa-purple, $sw-ButtonGenerate-height);
    @include button-focus-active-hover($poa-purple);
    @include button-disabled($poa-purple);
    @include button-shadow($poa-purple);

    &#{ & }-core {
        background-color: $poa-purple;
        @include button-focus-active-hover($poa-purple);
        @include button-shadow($poa-purple);
    }

    &#{ & }-sokol {
        background-color: $sokol-cyan;
        @include button-focus-active-hover($sokol-cyan);
        @include button-shadow($sokol-cyan);
    }

    &#{ & }-dai {
        background-color: $xdai-orange;
        @include button-focus-active-hover($xdai-orange);
        @include button-shadow($xdai-orange);
    }

    &#{ & }-kovan {
        background-color: $kovan-cyan;
        @include button-focus-active-hover($kovan-cyan);
        @include button-shadow($kovan-cyan);
    }

    .hm-Home & {
        width: 100%;

        @media (min-width: $breakpoint-md) {
            width: auto;
        }
    }
}

.sw-ButtonGenerate_Text {

    @include button-text(#fff, 16px);
    margin-right: 65px;

}

.sw-ButtonGenerate_Icon {
    display: block;
    height: 16px;
    width: 18px;
}